<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>update page</h1>
    <form action="/editData/<%= storeData.id %>" method="post" enctype="multipart/form-data">
        <table border="">
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" placeholder="enter your name" name="userName"
                        value="<%= storeData.userName %>" />
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="text" placeholder="enter your password" name="password"
                        value="<%= storeData.password%>" />
                </td>
            </tr>

            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" name="gender" value="male" <%=storeData.gender==="male" ? "checked" :"" %>
                    />male <input type="radio" name="gender" value="female" <%=storeData.gender==="female" ? "checked"
                        :"" %>
                    />female
                </td>
            </tr>
            <tr>
                <td>hobby</td>
                <td>
                    <input type="checkbox" value="reading" name="hobby" <%=storeData.hobby.includes("reading")
                        ? "checked" : "" %> /> Reading
                    <input type="checkbox" value="coding" name="hobby" <%=storeData.hobby.includes("coding") ? "checked"
                        : "" %> /> coding
                    <input type="checkbox" value="cycling" name="hobby" <%=storeData.hobby.includes("cycling")
                        ? "checked" : "" %> /> cycling
                </td>
            </tr>
            <tr>
                <td>city</td>
                <td>
                    <select name="city" id="">
                        <option value="">Select city</option>
                        <option value="rajkot" <%=storeData.city==="rajkot" ? "selected" :"" %>>rajkot</option>
                        <option value="surat" <%=storeData.city==="surat" ? "selected" :"" %>>surat</option>
                        <option value="delhi" <%=storeData.city==="delhi" ? "selected" :"" %>>delhi</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>description</td>
                <td>
                    <textarea name="description">
 <%= storeData.description %></textarea>
                </td>
            </tr>
            <tr>
                <td>Image </td>
                <td>
                    <input type="file" name="image" />
                    <img src="/<%= storeData.image %>" height="100" alt="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Update Data</button></td>
            </tr>
        </table>
    </form>
</body>

</html>